<?xml version="1.0" encoding="iso-8859-1"?>

<!-- Config file for the game -->
<config>

  <app>
  	<fps value="30"/>
  </app>
  
  <input>
    <num_keys value="352"/>
    <num_mouse_buttons value="5"/>
    <last_keys_pressed_buffer value="50"/>
  </input>

  <window>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <width value="1024"/>
    <height value="768"/>
    <scale value="1"/>
    <name value="Game Dev 1 Config"/>
  </window>

  <renderer>
    <camera x="0" y="-180"/>
  </renderer>

  <textures>
    
  </textures>

  <collisions>
    <settings coll_detect="1000" />
  </collisions>

  <audio>
    <master_volume value="0"/>"
    <music_volume value="1"/>
    <fx_volume value="1"/>
    <fade_time value="2"/>
    <repeat value="0"/>
  </audio>

  <gui>
    <atlas file="gui/atlas.png"/>
    <objects>
      <obj x="485" y="829" w="328" h="103" size="1" type="11" posx="0" posy="0" group="0" content="START GAME"/>
      <obj x="0" y="0" w="10" h="10" content="It's Alive!" size="1" type="1" posx="400" posy="400"/>
      <obj group="4" x="30" y="30" w="200" h="200" max_time="120" size="1" type="12" posx="600" posy="200"/>
      <obj group="3" x="0" y="0" size="5" type="13" posx="0" posy="0"/>
      <obj group="3" x="1000" y="0" size="5" type="13" posx="0" posy="1000"/>
    </objects>
  </gui>
        
  <map>
	  <folder>Maps/</folder>
  </map>

  <entities>
	  <ticks value="60"/>
    <folder source="textures/"/>
	  <sprites source="sprites.xml"/>
  </entities>

  <scene>
    <map source="Lvl_1.tmx"/>
    <map source="Lvl_2.tmx"/>
  </scene>
</config>
